html, body, p, div {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/background.jpg");
    background-size : cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.CONTAINER {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.search-panel {
    margin: 35px auto;
    width : 600px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    padding: 15px 15px 0 15px;
    border-radius: 15px;
}

.search-panel-title {
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-family: FangSong, serif;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
}

.form-label {
    color: #9FC3D6;
}


.left-input {
    float: left;
    width: 50%;
}

.right-input {
    float: right;
    width: 50%;
}

.main-form {
    margin: 20px auto;
}

.form-input {
    border-radius: 8px;
    color: white;
    border: 1px solid white;
    padding: 5px;
    margin: 5px 0 8px 0;
    background-color: rgba(255, 255, 255, 0);
    caret-color: white;
    box-sizing: border-box;
    width: 100%;
}

option {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

#distance {
    width: 60%;
}

.form-button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#search-button {
    background-color: #FD6C00;
    box-shadow: 0 2px 1px #cd4e04;
}

#search-button:hover {
    background-color: #FF8C00;
}

#clear-button {
    background-color: #4E6FA9;
    box-shadow: 0 2px 1px #3c62a7;
}

#clear-button:hover {
    background-color: #6E8FC9;
}

.result-panel {
    display: none;
    background-color: white;
    width: 1200px;
    margin: 0 auto;
}

.table-header {
    box-shadow: 0 2px 8px #777777;
    cursor: pointer;
}

th {
    padding: 0.5em;

}

td {
    padding: 1em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

a.event-link {
    text-decoration: none;
    color: black;
}

a.event-link:visited {
    color: black;
}

a.event-link:hover {
    color: #5530c2;
    cursor: pointer;
}

.event-card {
    margin: 35px auto 20px;
    width : 1000px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    padding: 20px 40px;
    display: none;
}

.event-card-title {
    font-size: 30px;
    color: white;
    text-align: center;
}

.event-card-container {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: row;
    margin: 30px auto 25px;
}

.event-card-content {
    /*float: left;*/
    width: 40%;
    /*height: 500px;*/
}

.event-card-map {
    /*float: right;*/
    width: 60%;
    /*height: 500px;*/
}

img.seat-map {
    width: 100%;
    max-height: 430px;
    margin: auto;
    display: block;
    object-fit: contain;
}

.event-card-content h3 {
    color: cyan;
    font-size: 25px;
    font-weight: lighter;
    margin: 0.5em auto;
}

.event-card-content p {
    color: white;
    font-size: 16px;
    font-weight: lighter;
    margin: 0.2em auto;
}

.event-card-content a {
    text-decoration: none;
    color: #429af0;
}

/*.event-card-content a:visited {*/
/*    color: inherit;*/
/*}*/

.event-card-content a:hover {
    color: #6743cd;
    cursor: pointer;
}

.event-card-content span{
    background-color: green;
    border-radius: 6px;
    padding: 4px 5px;
    color: white
}

.venue-details-arrow-part {
    margin: 0;
    text-align: center;
    display: none;
}

.venue-details-arrow-part h3 {
    color: white;
    font-size: 24px;
    font-weight: lighter;
    margin: 0;
}

.venue-details-arrow {
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    border: solid white;
    border-width: 0 1px 1px 0;
    margin: 0 auto;
}

.venue-details-arrow:hover {
    cursor: pointer;
    border-width: 0 2px 2px 0;
}

.venue-card {
    background-color: white;
    border-radius: 20px;
    width : 1000px;
    height: 200px;
}

.venue-card-container {
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}

.venue-card-title {
    font-size: 30px;
    color: black;
    text-align: center;
    border-bottom: 1px solid black;
}

.venue-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 30px auto 25px;
}