<div class="container-fluid" style="padding: 0">
  <div class="event-details-card col-12 col-md-8">
    <button class="back-button btn btn-link" (click)="onBackButtonClicked()">
      <div class="left-angle"></div>
      <div>Back</div>
    </button>
    <div class="title-container row d-flex align-items-center justify-content-center">
      <div class="col-auto text-center p-0"><h2>{{event['name']}}</h2></div>
<!--      <div class="col-auto text-center p-0"><h2>{{"PINK safasfhio siofhsakl sfnskj nnn safasf sfs"}}</h2></div>-->
      <div class="col-auto p-0">
        <button mat-mini-fab class="customized-fab" style="background-color: white" (click)="onFavoriteButtonClicked()">
            <mat-icon style="color: red" *ngIf="eventInFav">favorite</mat-icon>
          <mat-icon style="color:gray" *ngIf="!eventInFav">favorite_border</mat-icon>
        </button>
      </div>
    </div>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab label="Events">
        <app-events-tab [event]="event"></app-events-tab>
      </mat-tab>
      <mat-tab label="Artist/Teams">
<!--        <app-artist-tab [artists]="artistsArr"></app-artist-tab>-->
        <ng-container *ngIf="artistsArr.length > 0; else noResultsTemplate">
          <app-artist-tab [artistNames]="artistsArr"></app-artist-tab>
        </ng-container>
        <ng-template #noResultsTemplate>
          <div class="mt-5">
            <app-no-results [msg]="noMusicArtistMSG"></app-no-results>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Venue">
        <app-venue-tab [venueName]="event['_embedded']['venues'][0]['name']"></app-venue-tab>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
