<div *ngIf="data !== null && data['content'] !== '' && data['content'] !==null" class="mt-3">
  <div [ngSwitch]="data['type']">
    <div *ngSwitchCase="'0'" class="d-flex flex-column align-items-center text-center">
      <h3 class="header-component">{{data['header']}}</h3>
      <p class="content">{{data['content']}}</p>
    </div>
    <div *ngSwitchCase="'1'" class="d-flex flex-column align-items-center text-center">
      <h3 class="header-component">{{data['header']}}</h3>
      <div [innerHTML]="data['content']"></div>
    </div>
    <div *ngSwitchCase="'2'" class="d-flex flex-column align-items-center text-center">
      <h3 class="header-component">{{data['header']}}</h3>
      <span [ngStyle]="{'background-color': backgroundColor}" class="ticket-status">{{status}}</span>
    </div>
    <div *ngSwitchCase="'3'">
      <img src="{{data['content']}}" alt="seat map" class="img-fluid">
    </div>
    <div *ngSwitchCase="4" class="d-flex flex-column align-items-center text-center">
      <h3 class="header-component">{{data['header']}}</h3>
      <div class="content" [ngClass]="{'collapsed': !isExpanded}">
        {{ data['content'] }}
      </div>
      <div class="button-container">
        <button class="btn" *ngIf="!isExpanded" (click)="toggleExpanded()">
          Show More <i class="fa fa-chevron-down" style="color: white"></i>
        </button>
        <button class="btn" *ngIf="isExpanded" (click)="toggleExpanded()">
          Show Less <i class="fa fa-chevron-up" style="color: white"></i>
        </button>
      </div>
    </div>
  </div>
</div>

